/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('Assets/Background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    height: 100%;
    overflow: hidden
}

/* Navigation */
header {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.logo, a{
    color: black;
    text-decoration: none;
}

.nav-container {
    flex: 1;
    display: absolute;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.auth-buttons .login {
    background-color: #2196f3;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
    margin-left: 0.5rem;
}

.auth-buttons .login:hover {
    background: #333;
    color: #fff;
}

main{
    height: 80vh;
    width:100%;
    display: flex;
    justify-content: center;
}

/* Hero Section */
.hero2{
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 35vh;
    border-radius: 10px;
    top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid white;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
}

.modes{
    opacity: 0;
    display: flex;
    height: 100px;
}

.prompt{
    font-size: 30px;
}

label, input {
    display: block;
}

p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3;
}

.textBox{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 30px;
    padding: 5px;
    background: rgba(50,50,50,255);
    color: white;
    border:0px;
    transition: all 0.3;
}

.submit{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width:10vw;
    border-radius: 5px;
    border: 0px solid white;
    text-decoration: none;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
}

.submit:hover{
    border: 1px solid white;
}

.blueButton{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width:30%;
    border-radius: 5px;
    border: 0px solid white;
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
}

.blueButton:hover {
    background: #fff;
    color: #000;
}

.greenButton{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width:30%;
    border-radius: 5px;
    border: 0px solid white;
    text-decoration: none;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
}

.greenButton:hover {
    background: #fff;
    color: #000;
}



.buttonDefault{
    width:100%;
    height:100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: x-large;
    font-weight: 1000;
    border: 0px solid white;
    transition: all 0.1s;
}

.buttonDefault:hover{
    border: 1px solid white;
}

#Login{
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#SignUp{
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero2 h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero2 p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-buttons{
    margin-top: 5vh;
}

.hero-buttons .login {
    padding: 1rem;
    width:30%;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
    
}

.hero-buttons .signUp {
    padding: 1rem;
    width:30%;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: #2196f3;
    transition: background 0.3s;
}

.learnMore{
    display: none;
}


.hero-buttons .login:hover {
    background: #fff;
    color: #000;
}

.hero-buttons .signUp:hover{
    background: #fff;
    color: #000;
}

.hero-buttons .learnMore:hover {
    background: #fff;
    color: #000;
}

#calendarHeader {
    height: 100px;
    width: calc(100vw - 400px);
    display: block;
    background: rgba(255, 255, 255, 1);
    border: black 2px solid;
    clear: both;
    text-align: center;
    transition: all 0.3s;
}

#calendarHeader h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #000;
    transition: all 0.3s;
}

#calendarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#calendarTable {
    width: calc(100vw - 400px);
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%;
    transition: all 0.3s;
}

#calendarTable th {
    text-align: center;
    vertical-align: middle;
}

thead {
    height: 100px;
    background: rgba(255, 255, 255, 1);
    color: black;
}

tr {
    width: 100%;
}

th {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

th, td {
    flex: 1;
    background: rgba(255, 255, 255, 0.4);
    color: black; /* 100% / 7 columns */
    height: 100px; /* Fixed height for each cell */
    vertical-align: top;
    text-align: left;
    border: 1px solid black; /* Optional: Add border for better visibility */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
}

#leftSidebar {
    display: flex;
    position: fixed;
    top: 100px;
    left: 0;
    width: 400px; /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    background: rgba(255, 255, 255, 0.4);
    border-right: 1px solid black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-y: auto; /* Add vertical scrolling if content overflows */
    transition: all 0.3s;
}

#leftSidebar.minimized {
    width: 0px;
    overflow: hidden;
}

.mainCalendar {
    margin-left: 400px;
    transition: all 0.3s;
}

#mainContent {
    box-sizing: border-box;
}

.current-date {
    background-color: rgba(255, 255, 255, 0.5); /* Highlight color */
    color: black; /* Text color */
    font-weight: bold; /* Make the text bold */
    border: 2px solid red; /* Optional: Add a border for better visibility */
    
}

td:hover{
    transition: all 0.3s;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7)
    
}

#maximiseButton{
    display: none;
    width: 50px;
    height: calc(100vh - 100px);
    right: 0px;
    border: 0px solid black;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#minimiseButton{
    height: calc(100vh - 100px);
    width: 50px;
    right: 0px;
    border: 0px solid black;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#maximiseButton:hover{
    background: black;
    color: white;
    border: 2px solid white;
    ;
    
}

#minimiseButton:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#sidebarContent{
    height: calc(100vh - 100px);
    width: calc(400px - 50px);
}

#eventCreation{
    padding: 10px;
    width: 90%;
    margin: 10px;
    right: 0px;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventCreation:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#eventCreationMenu{
    display: none;
    height: 0px;
    margin: 10px;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    transition: all 0.3;
    

}

#eventCreationMenu label{
    color: black;
    font-size: 20px;
    width: calc(100% - 50px);
    transition: all 0.3;
    margin: 10px;

}

#eventTitle{
    padding: 10px;
    width: 100%;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventTitle:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#eventDate{
    padding: 10px;
    width: 100%;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventDate:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#eventTime{
    padding: 10px;
    width: 100%;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventTime:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#eventDescription{
    padding:10px;
    width: 100%;
    right: 0px;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventDescription:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#eventColour{
    height: 50px;
    width: 110%;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventColour:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#makeNewEvent{
    padding:10px;
    margin:10px;
    width: calc(100% - 20px);
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
    background-color: green;
    color: white;
}

#makeNewEvent:hover{
    background: black;
    color: greenyellow;
    border: 2px solid greenyellow;
}