/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: url('Assets/Background.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    height: 100%;
    overflow: hidden
}

/* Navigation */
header {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.logo, a{
    color: black;
    text-decoration: none;
}

.nav-container {
    flex: 1;
    display: absolute;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.auth-buttons .login {
    background-color: #2196f3;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
    margin-left: 0.5rem;
}

.auth-buttons .login:hover {
    background: #333;
    color: #fff;
}

main{
    height: 80vh;
    width:100%;
    display: flex;
    justify-content: center;
}

/* Hero Section */
.hero2{
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 35vh;
    border-radius: 10px;
    top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); 
    border: 1px solid white;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all 0.3s;
}

.modes{
    opacity: 0;
    display: flex;
    height: 100px;
}

.prompt{
    font-size: 30px;
}

label, input {
    display: block;
}

p{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-bottom: 20px;
    text-align: center;
    transition: all 0.3;
}

.textBox{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-radius: 30px;
    padding: 5px;
    background: rgba(50,50,50,255);
    color: white;
    border:0px;
    transition: all 0.3;
}

.submit{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width:10vw;
    border-radius: 5px;
    border: 0px solid white;
    text-decoration: none;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
}

.submit:hover{
    border: 1px solid white;
}

.blueButton{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width:30%;
    border-radius: 5px;
    border: 0px solid white;
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
}

.blueButton:hover {
    background: #fff;
    color: #000;
}

.greenButton{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width:30%;
    border-radius: 5px;
    border: 0px solid white;
    text-decoration: none;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
}

.greenButton:hover {
    background: #fff;
    color: #000;
}



.buttonDefault{
    width:100%;
    height:100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: x-large;
    font-weight: 1000;
    border: 0px solid white;
    transition: all 0.1s;
}

.buttonDefault:hover{
    border: 1px solid white;
}

#Login{
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#SignUp{
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero2 h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero2 p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-buttons{
    margin-top: 5vh;
}

.hero-buttons .login {
    padding: 1rem;
    width:30%;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background: #4caf50;
    transition: background 0.3s;
    
}

.hero-buttons .signUp {
    padding: 1rem;
    width:30%;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: #2196f3;
    transition: background 0.3s;
}

.learnMore{
    display: none;
}


.hero-buttons .login:hover {
    background: #fff;
    color: #000;
}

.hero-buttons .signUp:hover{
    background: #fff;
    color: #000;
}

.hero-buttons .learnMore:hover {
    background: #fff;
    color: #000;
}

#calendarHeader {
    display: flex;
    height: 100px;
    width: calc(100vw - 400px);
    background: rgba(255, 255, 255, 1);
    border: black 2px solid;
    clear: both;
    transition: all 0.3s;
    justify-content: space-between;
}

#calendarHeader h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #000;
    transition: all 0.3s;
}

#calendarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#calendarTable {
    width: calc(100vw - 400px);
    table-layout: fixed;
    border-collapse: collapse;
    height: 100%;
    transition: all 0.3s;
}

#calendarTable th {
    text-align: center;
    vertical-align: middle;
}

thead {
    height: 100px;
    background: rgba(255, 255, 255, 1);
    color: black;
}

tr {
    width: 100%;
}

th {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}

th, td {
    background: rgba(255, 255, 255, 0.4);
    color: black; /* 100% / 7 columns */
    height: 100px; /* Fixed height for each cell */
    vertical-align: top;
    text-align: left;
    border: 1px solid black; /* Optional: Add border for better visibility */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
    transition: background 0.3s ease !important;
}

#leftSidebar {
    display: flex;
    position: fixed;
    top: 100px;
    left: 0;
    width: 400px; /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    background: rgba(255, 255, 255, 0.4);
    border-right: 1px solid black;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-y: auto; /* Add vertical scrolling if content overflows */
    transition: all 0.3s;
}

#leftSidebar.minimized {
    width: 0px;
    overflow: hidden;
}

.mainCalendar {
    margin-left: 400px;
    transition: all 0.3s;
}

#mainContent {
    box-sizing: border-box;
}

.current-date {
    background-color: rgba(255, 255, 255, 0.5); /* Highlight color */
    color: black; /* Text color */
    font-weight: bold; /* Make the text bold */
    border: 2px solid red; /* Optional: Add a border for better visibility */
    
}

#maximiseButton{
    display: none;
    width: 50px;
    height: calc(100vh - 100px);
    right: 0px;
    border: 0px solid black;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#minimiseButton{
    height: calc(100vh - 100px);
    width: 50px;
    right: 0px;
    border: 0px solid black;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#maximiseButton:hover{
    background: black;
    color: white;
    border: 2px solid white;
    ;
    
}

#minimiseButton:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#sidebarContent{
    height: calc(100vh - 100px);
    width: calc(400px - 50px);
    overflow-y: scroll;
}

#eventCreation{
    width: 90%;
    padding: 10px;
    left: auto;
    right: auto;
    margin: 10px;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px; 
}

#eventCreation:hover{
    background: black;
    color: white;
    border: 2px solid white;   
}

.eventCreationMenu{
    height: 65px;
    display: block;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden; /* Ensure content doesn't overflow */
    transition: height 0.3s ease;
}

.eventCreationMenu.open{
    height: 85%;
    overflow-y: scroll;
}

.eventCreationField {
    display: none;
    margin: 10px;
    width: 82%;
    padding: 10px;
    left: auto;
    right: auto;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
    appearance: none;
}

/* Hide the default checkbox */
.custom-checkbox {
    display: none;
}

/* Create a custom checkbox */
.custom-checkbox + label {
    position: relative;
    margin: 10px;
    width: 82%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    background: white;
    transition: all 0.3s;
}

.custom-checkbox + label:hover {
    border: black 2px solid;
}

/* Change background color and text color when checked */
.custom-checkbox:checked + label {
    background: black;
    color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox + label:after {
    content: "";
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    opacity: 0;
    transition: opacity 0.1s;
}

/* Show the checkmark when checked */
.custom-checkbox:checked + label:after {
    opacity: 1;
}

/* Change background color when checked */
.custom-checkbox:checked + label:before {
    background: black;
}

.repeatFrequency{
    display: none !important;
    margin: 10px;
    width: 90%;
    padding: 10px;
    left: auto;
    right: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.custom-checkbox:checked ~ .repeatFrequency{
    display: block !important;
}

.eventCreationField:hover{
    background: black;
    color: white;
    border: 2px solid white;
    
}

#eventColour{
    margin: 10px;
    display: none;
    height: 50px;
    width: 90%;
    left: auto;
    right: auto;
    margin: 10px;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
}

#eventColour:hover{
    background: black;
    color: white;
    border: 2px solid white;
}

#makeNewEvent{
    margin: 10px;
    display: none;
    height: 50px;
    width: 90%;
    left: auto;
    right: auto;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
    background-color: green;
    color: white;
}

#makeNewEvent:hover{
    background: black;
    color: greenyellow;
    border: 2px solid greenyellow;
}

.fade-out {
    opacity: 0;
}

#eventList{
    height: auto;
    display: block;
    margin: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow-y: auto; /* Ensure content doesn't overflow */
    transition: height 0.3s ease;
}

.upcomingEvents{
    width: 90%;
    padding: 10px;
    left: auto;
    right: auto;
    margin: 10px;
    border: 2px solid white;
    transition: background 0.3s;
    font-size: 30px;
    transition: all 0.3;
    border-radius: 10px; 
}

.eventItem{
    width: 90%;
    padding: 10px;
    left: auto;
    right: auto;
    margin: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
    border-radius: 10px; 
    border: 3px solid;
    text-align: left;
    max-height: 100px; /* Initial max-height */
    overflow: hidden;
}

.eventItem.detailsVisible{
    max-height: 500px; /* Expanded max-height */
    overflow-y: auto;
    transition: all 0.3s ease;
}

button.eventItem:hover{
    background-color: rgba(0, 0, 0, 1) !important; /* Darken background on hover */
    color: white;
    border: 3px solid white !important; 
}

#clearEventsButton{
    bottom: 0;
    position: fixed;
    width: calc(350px);
    background-color: rgb(100, 0, 0);
    border: rgb(255, 0, 0) 2px solid;
    border-radius: 10px;
    color: white;
    height: 100px;
    font-size: 30px;
    transition: all 0.3s;
}

.spacer{
    height: 100px;
}

#clearEventsButton:hover{
    background-color: rgb(255, 100, 100);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);
}

.noEventsBox{
    width: 90%;
    padding: 10px;
    left: auto;
    right: auto;
    margin: 10px;
    color: grey;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px; 
    border: 3px solid;
    text-align: left;
}

.eventTitle{
    font-size: 25px;
    font-weight: 700;
}

.calendarEventTitle{
    font-size: 15px;
    font-weight: 700;
}

.eventDetail{
    padding: 5px;
}

.eventOptions {
    display: flex;
    justify-content: space-between;
}

.eventEdit, .eventDelete {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.eventEdit {
    background-color: #4CAF50; /* Green */
    color: white;
    transition: all 0.3s;
}

.eventDelete {
    background-color: #f44336; /* Red */
    color: white;
    transition: all 0.3s;
}

.eventDelete:hover {
    background-color: rgb(255, 100, 100);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Add glowing effect */
}

.eventEdit:hover {
    background-color: #87ff8b;
    box-shadow: 0 0 20px rgba(0, 255, 0, 1); /* Add glowing effect */
}

#confirmationContainer {
    bottom: 100px;
    display: none;
    position: fixed;
    width: calc(350px);
    height: 0px;
    transition: height 0.3s ease;
}

#yesButton{
    flex: 1;
    background-color: rgb(100, 0, 0);
    border: rgb(255, 0, 0) 2px solid;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#noButton{
    flex: 1;
    background-color: #067700; /* Red */
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

#yesButton:hover{
    background-color: rgb(255, 100, 100);
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 20px rgba(255, 0, 0, 1); /* Add glowing effect */
}

#noButton:hover{
    background-color: #71ff6a;
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0 20px #0dff00; /* Add glowing effect */
}

#clearEventsButton p{
    font-size: 15px;
    padding: 0px;
    transform: translateY(-30px)
}

#clearEventsButton h3{
    font-size: 30px;
    padding: 0px;

}

#eventDate{
    display: none;
}

.date-time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    margin-top: 0px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.titleContainer{
    display: none;
    width: calc(100% - 4px);
    background-color: rgba(255,255,255,1);
    border: 2px solid black;
    transition: background 0.3s;
    font-size: 20px;
    transition: all 0.3;
    border-radius: 10px;
    color: black;
}

.titleContainer p{
    margin: 0px;
    padding: 10px;
}

.titleContainer:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
}

.timeContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 0px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.eventCreationMenu p{
    font-size: 20px;
}

.dateTimeEnd{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px;
    margin-top: 0px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.calendar-cell {
    position: relative;
    flex: 1 1 auto; /* Allow cells to grow and shrink */
    padding: 10px;
    transition: transform 0.3s;
}

.calendar-cell.clicked {
    position:fixed !important;
    backdrop-filter: blur(10px);
    z-index: 10; /* Ensure the clicked cell appears above others */
}

.eventContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0;
    right:0;
    top:0px;
    bottom:0;
    overflow:hidden;
    transition: all 0.3s ease;
}

.calendarEvent{
    display: block;
    flex: 1;
    height: fit-content;
    margin: 5px;
    padding: 3px;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow:hidden; /* Ensure content doesn't overflow */
    transition: all 0.3s ease;
}

.calendarEvent.enlarged{
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    overflow-y: scroll;
}

.calendarEventDetails{
    display: none;
    font-weight: 100;
    font-size: 15px;
}

